html, body {
  margin: 0;
  padding: 0;
}

.container-fluid{
  padding: 0;
  /*opacity: .8;*/
}

.nav{
  /*border: 2px dotted red;*/
  text-align: center;
  line-height: 50px;
}

.nav-item{
  /*border: 2px dotted green;*/
  list-style: none;
  display: inline-block;
  padding-right: 20%;
  text-align: center;
  /*margin-left:*/
  color: white;
  border-bottom: 2px solid white;
  height: 20%;
}

.nav-item:hover{
  list-style: none;
  display: inline-block;
  padding-right: 20%;
  text-align: center;
  /*margin-left: 20%;*/
  color: #6e7af0;
  border-bottom: 2px solid #6e7af0;
}

.sect-one{
  /*border: 2px solid red;*/
  height: 100vh;
  background-image:url(images/arctic.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  /*opacity: .8;*/
}

.col-xs-7{
  /*border: 2px dotted red;*/
  height: 50%;
  margin-top: 10px;
  margin-left: 23%;
  border-radius: 10%;
  background-image: url(images/logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover;*/
}

.col-xs-7:hover{
  /*border: 2px dotted red;*/
  height: 50%;
  margin-top: 10px;
  margin-left: 23%;
  border-radius: 10%;
  background-image: url(images/logo-text.png);
  background-repeat: no-repeat;
  background-position: center;
}



.sect-two{
  /*border: 2px solid red;*/
  height: 100vh;
  background-image:url(images/adventure.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  /*opacity: .8;*/
}

.col-xs-3{
  /*border: 2px dotted red;*/
  height: 73%;
  padding-right: 45%;
}

.pack-title{
  color: white;
  /*text-align: center;*/
  /*border: 2px dotted white;*/
  height: 15%;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  border-left: 2px solid white;
}


.pack-title:hover{
  color: #6e7af0;
  text-align: center;
  height: 15%;
  border-bottom: 2px solid #6e7af0;
}

.pack-description{
  /*border: 2px dotted red;*/
  height: 350px;
  width: 170px;
  color: white;
}

.pack-item{
  list-style:circle;
  padding-top: 25px;
  padding-bottom: 10%;
  font-size: 14px;
}

.sect-three{
  /*border: 2px solid red;*/
  height: 100vh;
  background-image:url(images/aurora.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  /*opacity: .8;*/
}


.col-xs-12{
  /*border: 2px solid black;*/
  /*height: 40vh;*/
  padding-top: 10px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}



/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
